body {
	color:#222;
	background:#fff;
	
}

#header {
	background:transparent url("images/world.gif") no-repeat 4px 0px;
}

.alt { 
  color: #666; 
}

#navigation {
	background-color:#dfefff;
	border:1px solid #bed7f1;
}

#navigation ul li {
	/*border-right:1px solid #bed7f1;*/
}

#navigation ul li a {
	color:#000;
}

#navigation ul > li a.active, 
#navigation ul > li.current_page_parent a,
#navigation ul > li.current_page_item a,
#navigation ul > li.current_page_ancestor a {
	background-color:#1d466f;
	color:#fff;
   -moz-border-radius: 5px;
   -khtml-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

#header h1 a {
	color:#000;
}

#header h2 {
	color:#999;
}

#subscribe {
	background:transparent url("images/rss-header.png") no-repeat 0px 1px;
}

.node h3.node-title a {
	color:#333;	
}

.node h3.node-title a:hover {
	color:#000;
}

.node-metadata,
.comment-metadata {
	color: #999999; 
}

/* Comments */

.block {
	border-bottom:1px solid #cccccc;
}


.block ul li {
	background:transparent url("images/arrow.png") no-repeat 0px 6px; 
}

.author-comment {
	background-color:#d0eefd;
}

/*Tabs*/


/*
border: #bed7f1
background:#dfefff;
hover:#b2d1ef
*/

.ui-tabs-nav {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	position: relative;
	z-index: 1;
	border-right: 1px solid #bed7f1;
	bottom: -1px;
}
.ui-tabs-nav-item {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	border: 1px solid #bed7f1;
	border-right: none;
}
.ui-tabs-nav-item a {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1.3em;
	color: #555555;
	background-color: #dfefff;
}
.ui-tabs-nav-item a:hover {
	background-color: #b2d1ef;
}
.ui-tabs-selected {
	border-bottom-color: #ffffff;
}
.ui-tabs-selected a, .ui-tabs-selected a:hover {
	background-color: #ffffff;
	color: #222222;
}
.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;

	clear:left;
	border: 1px solid #bed7f1;
	background-color: #ffffff;
	color: #222222;
	padding: 1.5em 1.7em;
	margin-bottom: 15px;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}

