/*  
Theme Name: NeeWee
Theme URI: http://neewee.com/wordpress/neewee-wordpress-theme/
Tags: fixed width, 3 columns, blue, white, right sidebar, blocks, gravatars, block ready, color schemes, blueprint, feedburner, google analytics, featured category, admin options
Description: NeeWee Theme is a WordPress Theme built on Blueprint CSS brought to you by <a href="http://frontendbook.com">Front End Book</a>
Version: 1.0.3
Author: Mattias Hising
Author URI: http://frontendbook.com/

	NeeWee 1.0.3
	http://neewee.com/wordpress/neewee-wordpress-theme/

	This theme was designed and built by Mattias Hising,
	whose blog you will find at http://frontendbook.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

body {
	margin:0;
	padding:0;
	font-size:83%;
	font-family:"Myriad Pro", "Lucida Grande", "Tahoma", "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header */
#header {
	position:relative;
	padding:4px 0 10px 58px;
}

.alt {
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
	font-style: italic;
	font-weight: normal;
}

form p + p  {
	text-indent: 0;
} /* Don't want this in forms. */

.dquo {
	margin-left: -.5em;
} 

p.incr, .incr p {
	font-size: 10px;
	line-height: 1.44em;  
	margin-bottom: 1.5em;
}
.caps { 
font-variant: small-caps; 
letter-spacing: 1px; 
text-transform: lowercase; 
font-size:1.2em;
line-height:1%;
font-weight:bold;
padding:0 2px;
}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}

/* Navigation */
#navigation {
	padding:10px;
	margin-bottom:15px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top:0px;
	position:relative;
}

#navigation ul {
	list-style:none;
	margin:0;
	padding:0;

}

#navigation ul li {
	display:inline;	
}

#navigation ul li ul {
	display:none;
}

#navigation ul li a {
	
	text-decoration:none;
	padding:6px 12px;
}

#navigation ul li a:hover {
	text-decoration:underline;
} 


#header h1, #header h2 {
	margin:0;
	padding:0;
}

#header h1 a {
	text-decoration:none;
	font-size:24px;
}

#header h2 {
	font-size:13px;
	font-family:"Myriad Pro", "Lucida Grande", "Tahoma", "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

#search {
	position:absolute;
	right:10px;
	bottom:10px;
}

#search-theme-form label {
  display: none;
}

#search div, 
#search > *,
#search .container-inline,
#search .container-inline .form-item {
	display: inline;
}

#subscribe {
	position:absolute;
	right:20px;
	top:10px;
	
	padding:2px 0 2px 28px;
}

/* Nodes */
.node h3.node-title {
	margin-bottom:7px;
}

.node h3.node-title a {
	text-decoration:none;	
}

.node h3.node-title a:hover {
	text-decoration:underline;
}

.node-metadata {
	margin-bottom:7px;
}

/* blocks */
.block {
	margin:0 0 20px 0;
	padding-bottom:10px;
}

.block h4 {
	margin:0;
	padding:0;
}

.block ul {
	padding:0;
	margin:0;
	/*list-style:none;*/
}

.block ul li {
	padding:0 0 2px 8px;
}

/* List Menus */

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  margin-left: 0em;
  padding-left: 1em;
  padding-bottom: .2em;
  padding-right: 0;
  padding-top: 0;
  list-style-position: inside;
}

#footer {
	text-align:center;
	
}


/* WP Theme Requirements Classes */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

span.comments {
	float:right;
}
.ui-tabs-nav-item.rss {
}

.ui-tabs-nav-item.rss a {
	background-image: url("images/rss-header.png");
	padding-left:26px !important;
	background-repeat: no-repeat;
	background-position: 0 3px;
}

/**
 * Comments
 */

/* Comments */
.gravatar {
	width:96px;
	float:left;
	padding:0 10px 0 0;
}

.comment {
	padding-bottom:10px;
}

.form-row label {
	float:left;
	width:120px;
	text-align:right;
	margin-right:10px;
}

.comment-metadata {
	margin-left: 25px;
}

#comments .comment .submitted {
	margin: 10px 0px 0;
}

#comments .comment-box {
	width: 500px;
	background: #ddd url(images/comment-bottom.png) no-repeat 0 bottom;
}

#comments .comment .comment-content {
	padding: 1px 10px 1px;
}

#comments .comment .comment-content-top{
	background-image: url(images/comment-top.png);
	height: 30px;
	margin: 0;
	width: 500px;

}

fieldset legend {
	font-size: 1em;
}

.node-form input#edit-title {
	font-size: 1.3em;
}